/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply styles to the body element */
:root {
  --brown-light: #d8c290;
  --black: #424241;
  --brown: #a3802d;
  --gray: #e8eaf4;
  --text-primary: #4c577c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .input__authentication {
    @apply py-2 pl-4 border border-[#B4B4B4] rounded-[50px] outline-none;
  }
}

@font-face {
  font-family: jura;
  src: url("../font/Jura-Bold.ttf");
}

@font-face {
  font-family: michroma;
  src: url("../font/Michroma-Regular.ttf");
}

@font-face {
  font-family: prompt;
  src: url("../font/Prompt-Regular.ttf");
}

.jura {
  font-family: jura;
}

.michroma {
  font-family: michroma;
}

.prompt {
  font-family: prompt;
}

.font-brown {
  color: var(--brown);
}

.font-blackbean {
  color: var(--black);
}

div {
  user-select: none;
}

#text__primary {
  font-family: jura;
  color: var(--text-primary);
  padding-right: 5px;
}

#text__disease {
  font-family: jura;
  color: #949cb6;
  padding-left: 3px;
}
#line__upload_container > .ant-upload-wrapper {
  width: 350px;
}

::-webkit-scrollbar {
  width: 1px;
}

.ant-upload-drag {
  border-radius: 20px !important;
  background: white !important;
}

.ant-upload-list-item {
  border: 1px dashed #d9d9d9 !important;
}

.ant-progress-text {
  display: none !important;
}

#tabs-container_antd > div.ant-tabs-content-holder,
#tabs-container_antd > div.ant-tabs-content-holder > div,
#tabs-container_antd > div.ant-tabs-content-holder > div > div {
  height: 100%;
}

#tabs-container_antd > div.ant-tabs-content-holder,
#tabs-container_antd > div.ant-tabs-content-holder > div,
#tabs-container_antd > div.ant-tabs-content-holder > div > div {
  height: 100%;
}

.ant-collapse-expand-icon {
  height: 40px !important;
}

.tabs-container__navigation
  > .ant-tabs-card
  > .ant-tabs-nav
  > .ant-tabs-nav-wrap {
  background-color: #eee !important;
  border-radius: 0.8125rem;
  padding: 5px;
}

.tabs-container__navigation
  > .ant-tabs-card
  > .ant-tabs-nav
  > .ant-tabs-nav-wrap
  > .ant-tabs-nav-list {
  width: 100%;
  justify-content: space-between;
}

.tabs-container__navigation
  > .ant-tabs-card
  > .ant-tabs-nav
  > .ant-tabs-nav-wrap
  > .ant-tabs-nav-list
  > .ant-tabs-tab {
  width: 50%;
  display: flex;
  padding: 4px;
  justify-content: center;
}

.tabs-container__navigation
  > .ant-tabs-card
  .ant-tabs-content
  > .ant-tabs-tabpane {
  height: "100%";
  /* background: #bbb; */
}

.tabs-container__navigation > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}

.tabs-container__navigation > .ant-tabs-card .ant-tabs-tab,
[data-theme="compact"]
  .tabs-container__navigation
  > .ant-tabs-card
  .ant-tabs-tab {
  background: transparent;
  border-color: transparent;
}

.tabs-container__navigation > .ant-tabs-card .ant-tabs-tab-active,
[data-theme="compact"]
  .tabs-container__navigation
  > .ant-tabs-card
  .ant-tabs-tab-active {
  background: #fff;
  border-color: #fff;
  border-radius: 8px !important;
}

/* #head__patient > div.ant-segmented.jura.mt-4.select-none.css-dev-only-do-not-override-p76nsb > div > label.ant-segmented-item:nth-child(1).ant-segmented-item-selected{
  background-color: #EEEEEE !important;
}
#head__patient > div.ant-segmented.jura.mt-4.select-none.css-dev-only-do-not-override-p76nsb > div > label.ant-segmented-item:nth-child(2).ant-segmented-item-selected{
  background-color: #D2DCEB !important;
}
#head__patient > div.ant-segmented.jura.mt-4.select-none.css-dev-only-do-not-override-p76nsb > div > label.ant-segmented-item:nth-child(3).ant-segmented-item-selected{
  background-color: #F1E2BC !important;
} */

.react-sketch-canvas {
  background-size: contain;
  background-repeat: no-repeat;
}

/* Calendar */
.react-calendar {
  width: 100%;
  height: 19rem;
  background-color: #fff;
  color: #424241;
  border-radius: 0.9375rem;
  font-family: Prompt;
  line-height: 1.35em;
  padding: 8px 18px;
}

.react-calendar__navigation {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px 0px;
}

.react-calendar__navigation button {
  width: 30px;
  color: #6f48eb;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

abbr[title] {
  text-decoration: none;
  justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
}

.react-calendar__tile {
  padding: 0;
  margin: 10px 0px;
}

.react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}

.react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

.react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}

.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}

.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
}

/* Homepage */
.bg-homepage {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/bg-homepage.svg");
}

.btn-homepage {
  color: var(--black);
  border: 1px solid var(--black);
  background-color: var(--brown-light);
  border-radius: 30px;
}

.wound-background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../assets/wound-background.svg");
}

#watermark-wound {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../assets/draft_wound_bg.svg");
}

/* page patient */
.button_add {
  font-family: jura;
  background-color: #d2d4eb;
  border-color: #8087a7;
  border-width: 2px;
  color: var(--text-primary);
  display: flex;
  align-items: center;
}

.button_reject {
  font-family: jura;
  border-color: #d2d4eb;
  border-width: 2px;
  color: var(--text-primary);
  display: flex;
  align-items: center;
}

.patient_img {
  filter: saturate(50%);
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Patient */
#head__patient > div.ant-segmented {
  background-color: transparent;
}

/* #head__patient
  > div.ant-segmented.jura.mt-4.css-dev-only-do-not-override-pr0fja
  > div
  > label.ant-segmented-item.ant-segmented-item-selected {
  background-color: #d2dceb;
} */

#timeline-container .inner-container {
  margin: 0 auto;
}

#timeline-container .inner-container .heading {
  text-align: center;
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: 3rem;
  color: #dcd3d3;
  margin-top: 0;
}

.timeline {
  margin: 0 auto;
  position: relative;
}

.timeline-item {
  color: #dcd3d3;
  font-family: var(--font-family-2);
  text-wrap: nowrap;
  text-align: center;
  padding: 0 1.5rem 1.5rem 1.5rem;
  border-left: 2px dashed #dcd3d3;
  border-bottom: 2px dashed #e9ebf5;
  position: relative;
  list-style-type: none;
  --item-width: calc(100%);
}

/* text timeline */
.timeline-item::after {
  content: attr(data-date);
  position: absolute;
  right: calc(var(--item-width) + 15px);
  top: -20px;
  color: #555554;
  font-size: 18px;
  float: right;
  font-family: jura;
  /* white-space:nowrap */
}

.test-item {
  color: #dcd3d3;
  font-family: var(--font-family-2);
  text-wrap: nowrap;
  text-align: center;
  border-bottom: 2px dashed #e9ebf5;
  position: relative;
  list-style-type: none;
  --item-width: calc(100%);
}
.test-item::after {
  content: attr(data-year);
  position: absolute;
  right: calc(var(--item-width) + 15px);
  top: 6px;
  color: #b4b4b4;
  font-size: 16px;
  float: right;
  font-family: jura;
}

.test-item::before {
  content: "";
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #dcd3d3;
  position: absolute;
  left: -5px;
  top: -8px;
}

.timeline-item:last-child {
  border-bottom: none;
}

/* WoundAnalysis */
#react-sketch-canvas__canvas-background {
  background-size: contain !important;
}

#addNote__upload__wrapper > span > div.ant-upload-list.ant-upload-list-picture {
  display: flex;
  flex-flow: wrap;
  overflow-y: auto;
  max-height: 100px;
}

#addNote__upload__wrapper
  > span
  > div.ant-upload-list.ant-upload-list-picture
  > div {
  margin-right: 1rem;
}

#addNote__upload__wrapper
  > span
  > div.ant-upload-list.ant-upload-list-picture
  > div
  > div
  > span.ant-upload-list-item-name {
  width: 80px;
}
/* .ant-popover-inner{
  border: 1.5px solid #D9D9D9 ;
} */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 20px;
  background: #eeeeee;
  border-radius: 16px;
}

input[type="range"]::-moz-range-track {
  height: 20px;
  background: #eeeeee;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #eeeeee;
  border-radius: 50%;
  border: 2px solid var(--brown-light);
  box-shadow: -407px 0 0 400px var(--brown-light);
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #eeeeee;
  border-radius: 50%;
  border: 1px solid var(--brown-light);
  box-shadow: -407px 0 0 400px var(--brown-light);
}

.canvas__slider___range {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: #fff;
}

.canvas__cursor___paint {
  cursor: url("../assets/icons/canvas_cursor_paint.svg") -20 40, auto;
}

/* Upload Modal */
#upload__container_modal > span > div.ant-upload-list.ant-upload-list-picture {
  overflow-y: auto;
  max-height: 200px;
}

#upload__container_modal > span > div > span > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* management */
#management__table__patient
  > .ant-table-container
  > .ant-table-content
  > table {
  border-spacing: 0 8px;
  font-family: jura;
}

.ant-table-wrapper,
.ant-spin-nested-loading,
.ant-spin-container,
.ant-table,
.ant-table-container,
.ant-table-body {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.ant-table {
  flex: auto;
  overflow: scroll;
}

.ant-table-header {
  flex: none;
}

.ant-table-pagination {
  flex: none;
}

.ant-table-body {
  flex: auto;
  overflow: scroll;
}
.main {
  position: relative;
  /* position: absolute; */
}

th,
td.ant-table-cell {
  color: var(--text-primary) !important;
}

#management__table__patient > div > div > table > tbody > tr > td {
  border-top: 1.5px solid var(--gray) !important;
  border-bottom: 1.5px solid var(--gray) !important;
  cursor: pointer;
}

#management__table__patient > div > div > table > tbody > tr > td:first-child {
  border-left: 1.5px solid var(--gray);
  border-top-left-radius: 0.8125rem;
  border-bottom-left-radius: 0.8125rem;
}

#management__table__patient > div > div > table > tbody > tr > td:last-child {
  border-right: 1.5px solid var(--gray);
  border-top-right-radius: 0.8125rem;
  border-bottom-right-radius: 0.8125rem;
}

#management__table__patient
  > .ant-table-container
  > .ant-table-content
  > table
  > .ant-table-thead
  > tr
  > .ant-table-cell {
  background-color: #edefff !important;
}

#management__table__patient
  > .ant-table-container
  > .ant-table-content
  > table
  > .ant-table-thead
  > tr
  > .ant-table-cell:first-child {
  border-top-left-radius: 0.8125rem;
  border-bottom-left-radius: 0.8125rem;
}

#management__table__patient
  > .ant-table-container
  > .ant-table-content
  > table
  > .ant-table-thead
  > tr
  > .ant-table-cell:last-child {
  border-top-right-radius: 0.8125rem;
  border-bottom-right-radius: 0.8125rem;
}

/* signin page */
.forgot_pass {
  text-decoration-line: underline;
}

/* contact page */
.contact-background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../assets/contact_bg.svg");
}

/* Dashboard Page */
.card_background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/card_bg.svg");
}

/* Patient Page */
select {
  cursor: pointer;
}

/* Notification */
#head__notification > div.ant-segmented {
  background-color: transparent;
}
#head__notification > div > div > label.ant-segmented-item > div {
  background-color: transparent !important;
  border-radius: 50rem !important;
}
