/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply styles to the body element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #eeeeee; */
}

:root {
  --brown-light: #d8c290;
  --black: #424241;
  --brown: #a3802d;
}

@font-face {
  font-family: jura;
  src: url("../font/Jura-Bold.ttf");
}

@font-face {
  font-family: michroma;
  src: url("../font/Michroma-Regular.ttf");
}

@font-face {
  font-family: prompt;
  src: url("../font/Prompt-Regular.ttf");
}

.jura {
  font-family: jura;
}

.michroma {
  font-family: michroma;
}

.prompt {
  font-family: prompt;
}

.font-brown {
  color: var(--brown);
}

.font-blackbean {
  color: var(--black);
}

.ant-upload-wrapper {
  width: 350px;
}
::-webkit-scrollbar {
  width: 1px;
}
.ant-upload,
.ant-upload-drag {
  height: 200px;
  border-radius: 20px !important;
  background: white !important;
}

/* .ant-upload-drag-container{
} */
.ant-upload-list-item {
  border: 1px dashed #d9d9d9 !important;
}

.ant-progress-text {
  display: none !important;
}

/* .ant-tabs-nav-list{
  width: 100%;
  .ant-tabs-tab{
    width: 50%;
    display: flex;
    justify-content: center;
  }
} */
.tabs-container__navigation > .ant-tabs-card > .ant-tabs-nav > .ant-tabs-nav-wrap{
  background-color: #EEE !important;
  border-radius: 0.8125rem;
  padding:5px
}
.tabs-container__navigation > .ant-tabs-card > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list{
  width: 100%;
  justify-content: space-between;
}
.tabs-container__navigation > .ant-tabs-card > .ant-tabs-nav > .ant-tabs-nav-wrap > .ant-tabs-nav-list > .ant-tabs-tab{
  width: 50%;
  display: flex;
  padding: 4px;
  justify-content: center;
}
.tabs-container__navigation > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  /* background: #bbb; */
}
.tabs-container__navigation > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.tabs-container__navigation > .ant-tabs-card .ant-tabs-tab,
[data-theme='compact'] .tabs-container__navigation > .ant-tabs-card .ant-tabs-tab {
  background: transparent;
  border-color: transparent;
}
.tabs-container__navigation > .ant-tabs-card .ant-tabs-tab-active,
[data-theme='compact'] .tabs-container__navigation > .ant-tabs-card .ant-tabs-tab-active {
  background: #fff;
  border-color: #fff;
  border-radius: 8px !important;
}
.react-sketch-canvas {
  background-size: cover;
  background-repeat: no-repeat;
}

/* Calendar */
.react-calendar {
  width: 100%;
  background-color: #fff;
  color: #424241;
  border-radius: 0.9375rem;
  font-family: Prompt;
  line-height: 1.5em;
  padding: 10px 15px;
}
.react-calendar__navigation {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px 0px;
}
.react-calendar__navigation button {
  width: 40px;
  color: #6f48eb;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
  justify-content: center;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
}
.react-calendar__tile {
  padding: 0;
  margin: 10px 0px;
}
.react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
}
.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
}
.bg-homepage {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/bg-homepage.svg");
}

.btn-homepage {
  color: var(--black);
  border: 1px solid var(--black);
  background-color: var(--brown-light);
  border-radius: 30px;
}

.wound-background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../assets/wound-background.svg");
}
#watermark-wound {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../assets/draft_wound_bg.svg");
}
